<section class="section">
  <div class="container">
    <div class="">
      <h1 class="title is-2 has-text-centered"> Welcome to the Star Wars Encyclopedia</h1>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <a href="/characters/"><div class="box is-1by1">
          <h2 class="title is-3">Characters</h2>
          <img class="is-rounded" src="/assets/darthmaul.jpg"alt="Character image">
        </div></a>
      </div>
      <a href="/homeworlds/"><div class="column">
        <div class="box">
          <h2 class="title is-3">Planets</h2>
          <img class="is-rounded" src="/assets/naboo.jpg" alt="planet image" >
        </div></a>
      </div>
      <div class="column">
        <a href="/starships/"><div class="box">
          <h2 class="title is-3">Starships</h2>
          <img class="is-rounded" src="/assets/x-wing.jpg"alt="Starships image" ></a>
        </div></a>
      </div>
      <div class="column">
        <a href="/films/"><div class="box">
          <h2 class="title is-3">Films</h2>
         <img class="is-rounded" src="/assets/episode3.jpg"alt="Film image" >
        </div></a>
      </div>
    </div>
  </div>
</section>