<section class="section">
  <div class="container is-max-desktop">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Number</th>
          <th>Character Image</th>
          <th>Character</th>
        </tr>
      </thead>
      <tbody>
        <% @homeworlds.each do |homeworld| %>
        <tr>
          <td>
            <%=homeworld.id%>
          </td>
            <td>
              <div class="image is-1by1">
                <figure class="">
                  <%if homeworld.imagepath == "null"%>
                  <%image_tag("default.jpg")%>
                  <%else%>
                    <img src="assets/<%=homeworld.imagepath%>">
                  <% end %>
                </figure>
              </div>
            </td>
          <td>
            <h3><%=link_to homeworld.name, homeworld%></h3>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</section>