<h1> Star Wars Characters</h1>

<ul>
  <% @characters.each do |character| %>
  <div class="card">
  <div class="card-image">
    <figure>
      <p><%character.imagepath%></p>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">

      </div>
      <div class="media-content">
        <p class="title is-4"><%=link_to character.name, character%></p>
      </div>
    </div>
  </div>
</div>

</ul>
  <% end %>














</ul>
