<section class="section">
  <div class="container is-max-desktop">
    <table class="table is-halfwidth is-hoverable">
      <thead>
        <tr>
          <th>Number</th>
          <th>Character Image</th>
          <th>Character</th>
        </tr>
      </thead>
      <tbody>
        <% @characters.each do |character| %>
        <tr>
          <td>
            <%=character.id%>
          </td>
            <td>
              <div class="image is-3by5 is-rounded">
                <figure class="">
                  <%if character.imagepath == "null"%>
                  <%image_tag("default.jpg")%>
                  <%else%>
                    <img src="assets/<%=character.imagepath%>" height="500" width= "500">
                  <% end %>
                </figure>
              </div>
            </td>
          <td>
            <h3><%=link_to character.name, character%></h3>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</section>
