
<div class="container">
  <div class ="columns">
    <div class="column">
      <%= paginate @characters%>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="column is-full">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Number</th>
            <th>Character Image</th>
            <th>Character</th>
          </tr>
        </thead>
        <tbody>
          <% @characters.each do |character| %>
          <tr>
            <td>
              <%=character.id%>
            </td>
              <td>
                <div class="image is-96x96">
                  <figure class="">
                    <%if character.imagepath == "null"%>
                    <img src="/assets/default.jpg">
                    <%else%>
                      <a href=""></a><img src="assets/<%=character.imagepath%>" height="500" width= "500"></a>
                    <% end %>
                  </figure>
                </div>
              </td>
            <td>
              <h3><%=link_to character.name, character%></h3>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</section>
