<section class ="container">
  <h1 class=" title is-3">
    <div class="columns">
      <div class="column">
        <div class="content">
          <p> </p>
        </div>
      </div>
    </div>
</section>

<div class="container">
  <section class="section">
    <div class="content">
      <h1>About my website!</h1>
      <h5 class="subtitle">The following sections describe my datasets as well as my database schema.</h5>
      <h2>Datasets</h2>
      <p>The datasets I used were 4 starwars CSVs created from the Starwars API which populated the following tables.</p>

      <h5>Characters Table</h5>

      <p>This table was populated the Characters.CSV with all of the characters physical attributes,
      all of the ships they have flow through the movies as well as all of the movies they have been in.</p>

      <h5>Starships Table</h5>

      <p>This CSV contains all the information about the Starships that was be inserted into the Starships table.
      it includes all of the information about the ships as well as an image for some.</p>

      <h5>Homeworlds Table</h5>

      <p>This table contains all the information on the various home worlds for each character.
        This table had a one to many relationship with the Characters table.</p>

      <h5>Films Table</h5>
      <p>This table was populated by the Films.CSV which included infomation about the films like
          opening crawl, runtime and director. Each Film included many characters and each character had multiple
          films. This means that the table has many to many relationship with the characters table. An associative table was created to allow
          for a one to many relationship.</p>

      <h5>CharacterFilm Table</h5>
      <p>This table was created to turn the many to many relationship between characters and films. It hold the
      characterID and the filmID for each character and their respective film. </p>

      <h5>CharacterStarships Table</h5>
      <p>This table was created to solve the many to many relationship between Characters and Starships. It contains the
      characterID and the StarshipID </p>

      <h2>Entity Relationship Diagram</h2>
      <div class="image is-4by5 ">
        <figure>
          <img src="/assets/ERDNew.png" alt="ERD diagram">
        </figure>
      </div>

  </section>
</div>












